.OurWork {

	text-align: justify;
	text-justify: inter-word;
	margin-top: 75px;
	margin-bottom: 75px;
}

.AboutUs {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 75px;
	margin-bottom: 5px;
	
}

.AboutUs .container {
	margin-top: 10px;
}


#navigationBar {
	font-family: ;
}



.row .img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ContactUsLogo{
	height: 600px;
	width: 800px;

}

hr {
	border-color: inherit;
}
	

