@font-face{
	font-family: Hoefler;
	src: url(HoeflerText.ttf);
}

div {
	font-family: Hoefler;
}


.OurWork {

	text-align: justify;
	text-justify: inter-word;
	margin-top: 75px;
	margin-bottom: 75px;
}

.Specialities {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 75px;
	margin-bottom: 75px;
}

.AboutUs {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 75px;
	margin-bottom: 5px;
	background: Black;
	color: white;
	
}

.AboutUs .container {
	margin-top: 20px;
}

.ContactUs {
	margin-top: 10px;
}


#navigationBar {
	font-family: Hoefler;
}

.ContactUsLogo{
	height: 400px;
	width: 600px;
}

hr {
	border-color: inherit;
}

#firstrow {
	margin-bottom: 20px;
}



#img {
	border: 5px solid black;
    border-radius: 4px;
    padding: 5px;
}

#footer 
{
	padding-top: 5px;
	position: absolute:
	bottom 0;
	color: white;
  	background-color: Black;

}
	

